.badge {

    &__buttons {
        display: flex;
        justify-content: center;
        &--btn {
            margin: 10px 3px;
            padding: 3px 10px;
            border-radius: 16px;
            border: solid 1px $raven;
            font-size: 14px;
            background: transparent;
            @include default(primary);
            
            &:hover {
                @include bgcolor(primary);
            }
            &:disabled {
                border: solid 1px $orange;
                background-color: $vivid-sand;
                color: $orange;
                opacity: 40%;
            }
        }
    }
}

.badge-active {
    @include active(tertiary);
}

/*.badge-disabled {
    cursor: none;
}*/